.articles {
  background-color: $color-hero-bg;
  width: 100%;

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include responsive(desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include responsive(mobile) {
      padding-top: 88px;
      padding-bottom: 88px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    @include font(40px, 64px, 100, $color-text);

    @include responsive(mobile) {
      margin-bottom: 31px;
      @include font(32px, 38px, 100, $color-text);
      letter-spacing: -0.57px;
    }
  }

  &__cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: -40px;

    @include responsive(desktop) {
      justify-content: center;
      margin-right: 0;
    }

    @include responsive(desktop_6){
      margin: 0;
    }

    @include responsive(mobile) {
      flex-direction: column;
      margin-right: 0;
    }
  }

  &__card {
    background-color: $color-white;
    width: 100%;
    max-width: 255px;
    border-radius: 5px;

    margin-bottom: 30px;

    @include responsive(desktop) {
      max-width: 327px;

    }

    @include responsive(desktop_4) {
      display: flex;
      flex-direction: column;
    }

    @include responsive(mobile) {
      margin-bottom: 24px;
      margin-right: 0;
    }
  }


  &__card-img {
    object-fit: cover;

    @include responsive(desktop) {
      width: 327px;
    }
  }

  &__card-author {
    margin: 0;
    margin-bottom: 8px;
    @include font(10px, 18px, 100, $color-gray);
    letter-spacing: -0.15px;

  }

  &__card-info {
    padding: 24px;
  }

  &__card-title {
    margin-top: 0;
    margin-bottom: 8px;
    @include font(16px, 20px, 100, $color-text);
    letter-spacing: -0.29px;
  }

  &__card-text {
    margin: 0;
    @include font(13px, 18px, 100, $color-gray);
    letter-spacing: 0.2px;
  }
}