.header {
  background-color: $color-white;

  &__container {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;

    @include responsive(desktop_4) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    @include responsive(desktop_4) {
      display: none;
      position: fixed;
      border-radius: 4px;
      padding-top: 32px;
      padding-bottom: 32px;
      background-color: #fff;
      transform: translateY(70%);
    }

    .show-nav{
      transform: translateY(0%);
    }
  }

}