.header {
background-color: $color-white;

  &__container {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;

    @include responsive(desktop_4){
      padding-top: 24px;
      padding-bottom: 24px;
          }
}

&__wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    @include responsive(desktop_4){
      // display: none;
      padding: 32px 0;
      background-color: #fff;
      position: fixed;
      top: 15%;
      border-radius: 4px;

    }
  }
}